@page
@model Veterinaria.App.Pages.LoginModel
@{
}


<div style="width: fit-content">
        <h1>Login</h1>

        <form action="">
          <table>
            <tr>
              <td>
                <label for="">Email:</label>
              </td>
              <td>
                <input type="text" />
              </td>
            </tr>

            <tr>
              <td>
                <label for="">Contraseña</label>
              </td>
              <td>
                <input type="password" />
              </td>
            </tr>
          </table>
          <div>
            <button class="cls-boton-login">Iniciar sesion</button>
            <button class="cls-boton-login">Registrar usuario</button>
          </div>
        </form>
      </div>