/* #4AAA9C
    358B88
    276462
    959394 */

/* ALL */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
  }
  body {
    box-sizing: border-box;
  }
  .icon {
    font-size: 22px;
  }
  li {
    list-style: none;
  }
  .logo-img {
    width: 120px;
    
  }
  .active {
    color: #4aaa9c;
    font-weight: 600;
  }
  .h-77 {
    height: 77px;
    max-height: 78px;
  }
  .link {
    text-decoration: none;
  }
  .small {
    font-size: 14px;
    color: white;
    font-weight: 200;
  }
  
  /* NAVBAR */
  header {
    width: 100%;
    height: 77px;
    max-height: 78px;
    overflow: hidden;
    box-shadow: 2px 2px 15px #276462;
  }
  
  navbar {
    width: 100%;
  }
  
  .nav-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 77px;
    align-items: center;
  }
  
  .logo {
    
    margin: 0px 0px 60px;
  }
  
  .nav-content ul {
    flex-basis: 65%;
  }
  
  .nav-content .personal-content {
    background-color: #276462;
    height: 77px;
    width: 184px;
    color: white;
  }
  
  li {
    display: inline-flex;
    margin-left: 10px;
  }
  
  li a {
    color: #121212;
    font-size: 15px;
  }
  
  .t1 {
    margin: 0px auto;
    display: table;
    font-size: 26px;
    padding: 40px 0px;
    color: #276462;
    text-align: center;
    letter-spacing: 7px;
    font-size: 40px;
    margin-right: 70px;
  }
  
  nav ul li a {
    color: #002e5b;
    font-size: 18px;
    padding: 15px 10px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
  }
  nav ul li a:hover {
    background-color: #276462;
    color: #fffffe;
    transition: all 0.5s ease 0s;
  }
  
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder,
  textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  #form1 {
    position: center;
    width: 500px;
    margin: 60px 660px 60px;
  }
  
  .t2 {
    font-family: "Lato", sans-serif;
    font-size: 0.7806em;
    width: 200px;
    height: 22px;
    padding: 0px 15px 0px 9px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    
  }
  
  input {
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    width: 200px;
    height: 22px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    /*
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out; */
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  .t2:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  .logocitas1{
    width:500px;
    height:550px;
    margin-top: -350px;
    border-radius: 10px;
    
    
  }
  