@page
@model Veterinaria.App.Presentacion.Pages.VacunacionModel
@{
}

<title>Plan de Vacunación - Pets Clinic</title>

<h1>Plan de Vacunación</h1>


<!-- imagen-->
<img src="https://soyunperro.com/wp-content/uploads/2015/07/perro-podiendose-vacuna.jpg.webp" class="img-fluid"
    alt="https://soyunperro.com/wp-content/uploads/2015/07/perro-podiendose-vacuna.jpg.webp">

<!-- imagen-->
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseMascotas" aria-expanded="true" aria-controls="collapseMascotas">
                    Plan de vacunación para perros
                </button>
            </h2>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <form>


                    <!--  columna 1  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nombres*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite su nombre, campo obligatorio*">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite su Email, campo obligatorio*">
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--  columna 2  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Apellidos*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite sus apellidos, campo obligatorio*">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Teléfono*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite su número de contacto, campo obligatorio*">
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--  fila 3  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nombre de la mascota*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite el nombre de su mascota, campo obligatorio*">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Edad*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite la edad de su mascota, campo obligatorio*">
                                </div>
                            </div>

                        </div>
                    </div>





                    <!--  fila 4  -->


                    <div class="containerdespl">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Tipo de vacuna obligatoria</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>El mosquillo canino</option>
                                        <option>La hepatitis infecciosa</option>
                                        <option>La parvovirosis</option>
                                        <option>La leptospirosis</option>
                                        <option>La rabia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Dosis</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>8 semanas </option>
                                        <option>12 semanas</option>
                                        <option>16 semanas</option>
                                        <option>16 meses</option>
                                        <option>Refuerzo anual</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>




                    <!--  fila 5  -->


                    <div class="containerdespl">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Tipo para perros opcionales</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>La tos de las perreras</option>
                                        <option>La enfermedad de Lyme</option>
                                        <option>La babesiosis canina</option>
                                        <option>Infecciones por hongos</option>
                                        <option>La leishmaniasis</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Dosis</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>8 semanas </option>
                                        <option>12 semanas</option>
                                        <option>16 semanas</option>
                                        <option>16 meses</option>
                                        <option>Refuerzo anual</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>










                </form>

            </div>

            <div id="collapseMascotas" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks
                    to the <code>.show</code> class.
                </div>
            </div>
        </div>
        <img src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_960/public/Purina-Qu%C3%A9-vacunas-necesita-mi-gatito.jpg?itok=TCS_rwW0"
            class="img-fluid"
            alt="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_960/public/Purina-Qu%C3%A9-vacunas-necesita-mi-gatito.jpg?itok=TCS_rwW0">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Plan de vacunacion para gatos
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <!--  columna 1  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nombres*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite su nombre, campo obligatorio*">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite su Email, campo obligatorio*">
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--  columna 2  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Apellidos*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite sus apellidos, campo obligatorio*">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Teléfono*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite su número de contacto, campo obligatorio*">
                                </div>
                            </div>

                        </div>
                    </div>


                    <!--  columna 3  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nombre de la mascota*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite el nombre de su mascota, campo obligatorio*">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Edad*</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="digite la edad de su mascota, campo obligatorio*">
                                </div>
                            </div>

                        </div>
                    </div>




                    <!--  fila 4  -->


                    <div class="containerdespl">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Tipo de vacuna obligatoria</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Rabia</option>
                                        <option>Trivalente</option>
                                        <option>Rinotraqueitis</option>
                                        <option>Calicivirus</option>
                                        <option>La panleucopenia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Dosis</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>8 semanas </option>
                                        <option>12 semanas</option>
                                        <option>16 semanas</option>
                                        <option>16 meses</option>
                                        <option>Refuerzo anual</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>




                    <!--  fila 5  -->


                    <div class="containerdespl">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Tipo para perros opcionales</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>La Leucemia Viral Felina (LVF)</option>
                                        <option>C.felis(Chlamydia)</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Dosis</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>8 semanas </option>
                                        <option>12 semanas</option>
                                        <option>16 semanas</option>
                                        <option>16 meses</option>
                                        <option>Refuerzo anual</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>





        <!-------TABS------>
        <div>
            <div class="bd-example bd-example-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!--  columna 1  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Nombres1*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su nombre, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Email*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su Email, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!--  columna 2  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Apellidos*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite sus apellidos, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Teléfono*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su número de contacto, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!--  fila 3  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Nombre de la mascota*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite el nombre de su mascota, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Edad*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite la edad de su mascota, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>





                        <!--  fila 4  -->


                        <div class="containerdespl">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo de vacuna obligatoria</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>El mosquillo canino</option>
                                            <option>La hepatitis infecciosa</option>
                                            <option>La parvovirosis</option>
                                            <option>La leptospirosis</option>
                                            <option>La rabia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Dosis</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>8 semanas </option>
                                            <option>12 semanas</option>
                                            <option>16 semanas</option>
                                            <option>16 meses</option>
                                            <option>Refuerzo anual</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>




                        <!--  fila 5  -->


                        <div class="containerdespl">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo para perros opcionales</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>La tos de las perreras</option>
                                            <option>La enfermedad de Lyme</option>
                                            <option>La babesiosis canina</option>
                                            <option>Infecciones por hongos</option>
                                            <option>La leishmaniasis</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Dosis</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>8 semanas </option>
                                            <option>12 semanas</option>
                                            <option>16 semanas</option>
                                            <option>16 meses</option>
                                            <option>Refuerzo anual</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!--  columna 1  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Nombres*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su nombre, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Email*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su Email, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!--  columna 2  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Apellidos*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite sus apellidos, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Teléfono*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su número de contacto, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!--  fila 3  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Nombre de la mascota*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite el nombre de su mascota, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Edad*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite la edad de su mascota, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>





                        <!--  fila 4  -->


                        <div class="containerdespl">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo de vacuna obligatoria</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>El mosquillo canino</option>
                                            <option>La hepatitis infecciosa</option>
                                            <option>La parvovirosis</option>
                                            <option>La leptospirosis</option>
                                            <option>La rabia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Dosis</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>8 semanas </option>
                                            <option>12 semanas</option>
                                            <option>16 semanas</option>
                                            <option>16 meses</option>
                                            <option>Refuerzo anual</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>




                        <!--  fila 5  -->


                        <div class="containerdespl">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo para perros opcionales</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>La tos de las perreras</option>
                                            <option>La enfermedad de Lyme</option>
                                            <option>La babesiosis canina</option>
                                            <option>Infecciones por hongos</option>
                                            <option>La leishmaniasis</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Dosis</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>8 semanas </option>
                                            <option>12 semanas</option>
                                            <option>16 semanas</option>
                                            <option>16 meses</option>
                                            <option>Refuerzo anual</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <!--  columna 1  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Nombres3*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su nombre, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Email*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su Email, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!--  columna 2  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Apellidos*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite sus apellidos, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Teléfono*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite su número de contacto, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!--  fila 3  -->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Nombre de la mascota*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite el nombre de su mascota, campo obligatorio*">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Edad*</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="digite la edad de su mascota, campo obligatorio*">
                                    </div>
                                </div>

                            </div>
                        </div>





                        <!--  fila 4  -->


                        <div class="containerdespl">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo de vacuna obligatoria</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>El mosquillo canino</option>
                                            <option>La hepatitis infecciosa</option>
                                            <option>La parvovirosis</option>
                                            <option>La leptospirosis</option>
                                            <option>La rabia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Dosis</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>8 semanas </option>
                                            <option>12 semanas</option>
                                            <option>16 semanas</option>
                                            <option>16 meses</option>
                                            <option>Refuerzo anual</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>




                        <!--  fila 5  -->


                        <div class="containerdespl">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Tipo para perros opcionales</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>La tos de las perreras</option>
                                            <option>La enfermedad de Lyme</option>
                                            <option>La babesiosis canina</option>
                                            <option>Infecciones por hongos</option>
                                            <option>La leishmaniasis</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Dosis</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>8 semanas </option>
                                            <option>12 semanas</option>
                                            <option>16 semanas</option>
                                            <option>16 meses</option>
                                            <option>Refuerzo anual</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
