@page
@model Veterinaria.App.Pages.CitasMedicasModel
@{
}

    <div>
        <h1 class="t1">Citas Medicas</h1>
    </div>

    <div>

       

        <form id="form1" class="topBefore">
                
                  <input id="name" type="text" placeholder="Nombres">
                  <input id="email" type="text" placeholder="Apellidos"> 
                  <input id="correo" type="text" placeholder="Email">
                  <input id="celular" type="text" placeholder="Celular">
                  <input id="celular" type="text" placeholder="Nombre de mascota">
                  <select class="t2" name="select"   >
                    <option hidden selected>Tipo de mascota</option>
                    <option value="value2">Gato</option>
                    <option value="value3">Perro</option>
                    
                  </select> <br>
                  <select class="t2" name="select"   >
                    <option hidden selected>Tipo de consulta</option>
                    <option value="value2">Prioritaria</option>
                    <option value="value3">Urgencia</option>
                  </select> 
                  <select class="t2" name="select"   >
                    <option hidden selected>Especialidad</option>
                    <option value="value2">Gato</option>
                    <option value="value3">Perro</option>
                  </select> 

           <input id="submit" type="submit" value="Enviar!">
          
        </form>

    </div>

    <div>
        <img src="~/img/citas1.jpeg" alt="logo" class="logocitas1">
    </div>

    